* {
  background-color: black;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
}

/* cursor */
html,
body {
  cursor: url('../images/cursor.cur'), auto;
}

/* grid container */
#grid-container {
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  grid-template-rows: 50px minmax(100%, auto) 50px;
}

/* logo */
#logo {
  z-index: 1;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

#logo img {
  width: 100px;
  height: 100px;
}

/* contents section */
#contents-container {
  margin: 0 auto;
  grid-row: 2 / 3;
  grid-column: 5 / 16;
  text-align: center;
}

#contents-container #bgm-btn {
  display: block;
  width: 600px;
  margin: 0 auto;
}

#contents-container video {
  width: 800px;
}

#contents-title {
  display: block;
  margin: 50px;
  font-size: 24px;
  font-weight: 900;
}

.poster {
  display: block;
  float: left;
  width: 200px;
  height: 250px;
  padding: 30px;
}

#hogwart-logo {
  display: block;
  width: 100px;
  margin: 0 auto;
}

.domitory-logo {
  display: block;
  width: 200px;
  float: left;
}

#wizarding-logo {
  display: block;
}

#wizarding-logo img {
  width: 200px;
}

#qna p {
  text-align: left;
  word-break: keep-all;
}

/* movie section */
#movie-container {
  position: sticky;
  top: 0;
  width: 100%;
  height: 700px;
  grid-column: 1 / 20;
  z-index: 2;
  margin: 100px 0;
  background-color: rgba(0, 0, 0, 0.9);
}

#movie-intro {
  display: block;
  float: left;
  margin-left: 100px;
}

#movie-title {
  display: block;
  margin: 50px 0;
  font-size: 24px;
  font-weight: 900;
}

#trailer {
  width: 600px;
}

#movie-summary {
  display: block;
  padding: 0;
  list-style: none;
}

#movie-plot {
  display: block;
  float: left;
  width: 600px;
  height: 600px;
  margin: 100px 50px 0px 50px;
  word-break: keep-all;
}

#movie-close {
  display: block;
  position: relative;
  top: 10px;
  font-size: 30px;
}

/* menu section */
#menu-container {
  grid-row: 2 / 3;
  grid-column: 18 / 19;
}

ul {
  list-style: none;
  margin-bottom: 30px;
}

ul li {
  margin-bottom: 10px;
}

ul a {
  text-decoration: none;
}